<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
    <h1>Chanchal Khiani</h1>
    <p>My name is Chanchal Khiani and I'm a final year computer science student. 
      Some of my hobbies include cooking, working out and anything beauty related. 
      I'm looking forward to learning a lot of cool stuff in this course. 
    </p>
</body>
</html>
